.body{
  margin:33px;
}
.card{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  border: 0px solid rgb(255, 255, 255) !important ;
  background-clip: border-box;
  margin-left: 69px;
  margin-top: 55px;
  padding:1.25rem 1rem;
  border-radius: 64.25rem;
  transition: all 6s;
 
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(10.5 * var(--bs-gutter-x));
  margin-left: calc(2.5 * var(--bs-gutter-x));
  /* border-color: black !important; */
}
.des{
  text-align: center;  
  font-size:  xx-large;
  font-weight: bolder;
  margin-top: 69px;

}

/* .des::after{
  content: "";
  display: block;
  padding-top: 3px;
  border-bottom: 3px solid grey;
  left:calc(50% - 10%);
} */
.card-title {
  margin-bottom: 0.5rem;
  font-weight: bolder !important;
  text-align: center;
  border-color: black;
}


/* .Cartypes{
    border-color:black;
} */
.card-text{
  margin-bottom: 0.5rem;
  font-weight: 400 !important;
  text-align: center;
  color: black !important;
}

